In [1]:
import pandas as pd
from datetime import timedelta

fp1 = r"irrotukset\\testiaineisto2-1.csv"
fp2 = r"irrotukset\\heidi_test.csv"

Luetaan csv-tiedosto.

In [2]:
def check_delimiter(file) -> str:
    """
    Determines the delimiter of the inputted csv-file. 

    Parameters:
        file -- inputted csv-file (road image data)
    
    Returns:
        ',' -- comma delimiter
        ';' -- semicolon delimiter 
    """
    with open(file, 'r') as file:
        firstline = file.readline()
        if firstline.count(',') > firstline.count(';'):
            return ','
        else: 
            return ';'

In [3]:
def check_dupes(df) -> bool:
    dupes = df.duplicated(subset = ['kuvatieto_id'], keep = 'first')
    dupe_rows = df[dupes]
    if dupe_rows.shape[0] == 0:
        return False
    return True

In [4]:
def extract_data(file) -> pd.DataFrame:
    """
    Transforms the inputted csv-file into a more processable pandas dataframe; 
    removes unnecessary columns, and makes necessary changes to attribute values.

    Parameters: 
        file -- File path as a string, with which the desired file is retrieved locally.
                Note: use 2 backslashes ('\\') to avoid them being read as escapes. 
    
    Returns:
        df2 -- modified dataframe with the desired contents. 
    """
    delim = check_delimiter(file)
    df = pd.read_csv(file, delimiter = delim)

    selected = ['kuvatieto_id', 'tie', 'tieosa', 'etaisyys','suunta_tieosoite','kuvaussuunta', 'kuvausaika', 'nodirection']
    df2 = df[selected]
    if check_dupes(df2):
        return 'Error! Duplicate(s) found'
     
    df2['kuvausaika'] = pd.to_datetime(df2['kuvausaika'])
    
    #changing suunta_tieosoite values to -99, so that they stand out once changes are made later
    df2['suunta_tieosoite'] = -999
    
    return df2

In [5]:
# demo
df1 = extract_data(fp1)

C:\Users\L895458\AppData\Local\Temp\ipykernel_23700\549065064.py:21: UserWarning: Parsing dates in %d.%m.%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df2['kuvausaika'] = pd.to_datetime(df2['kuvausaika'])
C:\Users\L895458\AppData\Local\Temp\ipykernel_23700\549065064.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['kuvausaika'] = pd.to_datetime(df2['kuvausaika'])
C:\Users\L895458\AppData\Local\Temp\ipykernel_23700\549065064.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['suunta_tieosoite'] = -999

Järjestetään aineiston rivit (= kuvat) tieosoitteen mukaan ja aletaan rakentaa sisäkkäiset sanakirjat.

In [6]:
def reorder_df(df) -> pd.DataFrame:
    pd.set_option('display.max_rows', 600)
    return df.sort_values(by = ['tie', 'tieosa', 'etaisyys'])

In [7]:
# demo
df1 = reorder_df(df1)

In [8]:
def degree_diff(angle1, angle2):
    """
    Calculates the difference between two angles in degrees. 

    Parameters:
        angle1 -- the angle of the first image in degrees 
        angle2 -- the angle of the second/reference image in degrees 
    
    Returns: 
        The difference between the two angles as a float in the range 0-180
    """
    if angle2 is not None:
        difference = abs(angle1 - angle2)
        return min(difference, 360 - difference)

In [9]:
def can_append_to_list(image, last_image) -> bool:
    """
    Determines whether an image can be added to an image series.

    Parameters: 
        image -- list, image (and data) currently being examined in an iteration of the for-loop
        last_image -- list, reference image (and data) retried from the "last_images" list. 
    
    Returns:
        True -- the conditions are met, image can be added
        False -- one or multiple conditions not met
    """
    new_distance, new_angle, new_time = image[0], image[2], image[3]
    last_distance, last_angle, last_time = last_image[0], last_image[2], last_image[3]
    distance_diff = abs(new_distance - last_distance)
    angle_diff = degree_diff(new_angle, last_angle)
    time_diff = abs(new_time - last_time)

    # luodut ehdot samaan sarjaan kuulumiselle. Etäisyyseron raja-arvoa voi muokata (tämä vaikuttaa kuvasarjojen pituuteen). 
    return distance_diff <= 70 and angle_diff <= 40 and time_diff <= timedelta(minutes=1)

In [10]:
def add_to_list(image, index: int, sections, last_images: list, tieosa):
    """
    Adds the image to a fitting image series once it has been determined with
    the can_append_to_list function. 

    Parametrit:
        image -- list, image (and data) currently being examined in an iteration of the for-loop
        index -- index, integer 
        sections -- the inner of the nested dictionary "road_images". The keys are road sections, 
                    and their values are lists of image series.
        last_images -- a list of the last image in every series created in the for-loop thus far 
        tieosa -- the section of road on which the image currently being processed was taken 

    Returns:
        None
    """
    sections[tieosa][index].append(image)
    last_images[index] = image

In [11]:
def create_new_series(image, sections, last_images: list, tieosa): 
    """
    Creates a new image series in the event that none of the images in the last_images list are fitting. 
    Also appends the image to last_images

    Parametrit:
        image -- list, image (and data) currently being examined in an iteration of the for-loop
        sections -- the inner of the nested dictionary "road_images". The keys are road sections, 
                    and their values are lists of image series.
        last_images -- a list of the last image in every series created in the for-loop thus far 
        tieosa -- the section of road on which the image currently being processed was taken

    Returns:
        None
    """
    if tieosa not in sections:
        sections[tieosa] = []
        
    sections[tieosa].append([image])
    last_images.append(image)

In [12]:
def build_dict(df) -> dict:
    """
    Constructs nested dictionaries and gives the image data a 
    more approachable and legible structure, organized by road 
    network address. Image series are on the lowest level as a 
    list of lists containing data about individual images that 
    have been separated by time, angle, and location along the 
    road network. During the series creation phase, series are 
    broken if the difference in time, angle or distance between
    two adjacent images crosses the given limit value.  

    The inner dictionary containing road sections as keys also
    has a key named 'last_images' that contains the last image 
    of each image series created thus far. 

    Parameters:
        df -- reordered datafame (created with the reorder_df function) 

    Returns:
        road_images -- nested dictionary with the following structure. 
                    {
                        tie: [
                                {
                                    tieosa: [
                                        [
                                        [etäisyys, kuvatieto_id, suunta, aika, suunta_tieosoite, nodirection],
                                        ...
                                        ],
                                        ...
                                    ],
                                    'last_images': [

                                        [etäisyys, kuvatieto_id, suunta, aika, suunta_tieosoite],
                                        ...
                                    ]
                                },
                            ...
                            ],
                        ...
                    }

    """
    road_images = {}

    for index, row in df.iterrows():
        tie = row['tie']
        tieosa = row['tieosa']
        etäisyys = row['etaisyys']
        kuvatieto_id = row['kuvatieto_id']
        suunta = row['kuvaussuunta']
        aika = row['kuvausaika']
        suunta_tieosoite = row['suunta_tieosoite']
        no_direction = row['nodirection']

        image = [etäisyys, kuvatieto_id, suunta, aika, suunta_tieosoite, no_direction]

        if tie not in road_images:
            road_images[tie] = []
        
        tieosa_olemassa  =  False
        
        for sections in road_images[tie]:
            if tieosa in sections:
                tieosa_olemassa = True
                last_images = sections.get('last_images', [])
                uusi_sarja = True 

                for i, last_image in enumerate(last_images):
                    if can_append_to_list(image, last_image):
                        add_to_list(image, i, sections, last_images, tieosa)
                        uusi_sarja = False 
                        break 
                
                if uusi_sarja:
                    create_new_series(image, sections, last_images, tieosa)
                
                sections['last_images'] = last_images 
                break 

        if not tieosa_olemassa:
            road_images[tie].append({tieosa: [[[etäisyys, kuvatieto_id, suunta, aika, suunta_tieosoite, no_direction]]],'last_images': [[etäisyys, kuvatieto_id, suunta, aika, suunta_tieosoite]]})
    
    return road_images

In [13]:
def nice_print(dict):
    """
    Prints the contents of the nested dictionary in a legible way. 

    Parameters:
        dict -- nested dictionary built with the build_dict function 

    Returns:
        None (print)

    """
    for tie, sections in dict.items():
        print(f"Road number: {tie}")
        for section in sections:
            for tieosa, datalist in section.items():
                if tieosa == 'last_images':
                    continue
                print(f"  Road section: {tieosa}")
                for series in datalist:
                    for image in series:
                        print(f"    Kuvatieto_id: {image[1]} | Distance: {image[0]:<4} | Angle: {image[2]:>5} ° | Time: {image[3]} | suunta_tieosoite: {image[4]} | No direction: {image[5]}")
                    print("\n")
        print(f"{40*"- "}\n")

In [14]:
# demo
nice_print(build_dict(df1))

Road number: 7
  Road section: 39
    Kuvatieto_id: 364783162 | Distance: 5107 | Angle: 149.0 ° | Time: 2017-05-26 11:36:30 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364783163 | Distance: 5124 | Angle: 148.0 ° | Time: 2017-05-26 11:36:31 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364783164 | Distance: 5136 | Angle: 148.0 ° | Time: 2017-05-26 11:36:31 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364783165 | Distance: 5146 | Angle: 148.0 ° | Time: 2017-05-26 11:36:31 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364783168 | Distance: 5152 | Angle: 147.0 ° | Time: 2017-05-26 11:36:32 | suunta_tieosoite: -999 | No direction: True


    Kuvatieto_id: 364781680 | Distance: 5107 | Angle: 323.0 ° | Time: 2017-05-26 11:14:33 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364781681 | Distance: 5124 | Angle: 323.0 ° | Time: 2017-05-26 11:14:33 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364781672 | Distance: 5136 | Angle: 322.0 ° | Time: 2017-05-26 11:14:32 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364781673 | Distance: 5146 | Angle: 322.0 ° | Time: 2017-05-26 11:14:32 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364781676 | Distance: 5152 | Angle: 321.0 ° | Time: 2017-05-26 11:14:32 | suunta_tieosoite: -999 | No direction: True


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Road number: 1731
  Road section: 1
    Kuvatieto_id: 365107565 | Distance: 0    | Angle:  12.0 ° | Time: 2017-05-31 14:02:59 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107563 | Distance: 25   | Angle:  12.0 ° | Time: 2017-05-31 14:02:56 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107561 | Distance: 50   | Angle:  13.0 ° | Time: 2017-05-31 14:02:53 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107560 | Distance: 76   | Angle:  12.0 ° | Time: 2017-05-31 14:02:51 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107557 | Distance: 100  | Angle:  12.0 ° | Time: 2017-05-31 14:02:49 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107556 | Distance: 125  | Angle:  12.0 ° | Time: 2017-05-31 14:02:47 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107554 | Distance: 151  | Angle:  13.0 ° | Time: 2017-05-31 14:02:46 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107550 | Distance: 175  | Angle:  13.0 ° | Time: 2017-05-31 14:02:44 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107551 | Distance: 200  | Angle:  14.0 ° | Time: 2017-05-31 14:02:42 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107549 | Distance: 226  | Angle:  16.0 ° | Time: 2017-05-31 14:02:41 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107547 | Distance: 250  | Angle:  18.0 ° | Time: 2017-05-31 14:02:39 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107545 | Distance: 275  | Angle:  21.0 ° | Time: 2017-05-31 14:02:38 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107542 | Distance: 301  | Angle:  24.0 ° | Time: 2017-05-31 14:02:36 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107541 | Distance: 326  | Angle:  27.0 ° | Time: 2017-05-31 14:02:35 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107539 | Distance: 351  | Angle:  30.0 ° | Time: 2017-05-31 14:02:34 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107536 | Distance: 376  | Angle:  33.0 ° | Time: 2017-05-31 14:02:32 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107533 | Distance: 400  | Angle:  36.0 ° | Time: 2017-05-31 14:02:31 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107529 | Distance: 426  | Angle:  39.0 ° | Time: 2017-05-31 14:02:30 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107528 | Distance: 450  | Angle:  41.0 ° | Time: 2017-05-31 14:02:28 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107522 | Distance: 475  | Angle:  43.0 ° | Time: 2017-05-31 14:02:27 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107519 | Distance: 500  | Angle:  46.0 ° | Time: 2017-05-31 14:02:25 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107517 | Distance: 526  | Angle:  47.0 ° | Time: 2017-05-31 14:02:24 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107515 | Distance: 552  | Angle:  49.0 ° | Time: 2017-05-31 14:02:23 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107512 | Distance: 576  | Angle:  51.0 ° | Time: 2017-05-31 14:02:21 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107504 | Distance: 600  | Angle:  52.0 ° | Time: 2017-05-31 14:02:20 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107507 | Distance: 626  | Angle:  54.0 ° | Time: 2017-05-31 14:02:18 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107502 | Distance: 651  | Angle:  55.0 ° | Time: 2017-05-31 14:02:17 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107499 | Distance: 676  | Angle:  56.0 ° | Time: 2017-05-31 14:02:16 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107496 | Distance: 700  | Angle:  57.0 ° | Time: 2017-05-31 14:02:14 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107493 | Distance: 725  | Angle:  59.0 ° | Time: 2017-05-31 14:02:13 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107489 | Distance: 751  | Angle:  61.0 ° | Time: 2017-05-31 14:02:12 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107494 | Distance: 777  | Angle:  62.0 ° | Time: 2017-05-31 14:02:10 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107485 | Distance: 801  | Angle:  64.0 ° | Time: 2017-05-31 14:02:09 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107483 | Distance: 826  | Angle:  65.0 ° | Time: 2017-05-31 14:02:07 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107479 | Distance: 852  | Angle:  66.0 ° | Time: 2017-05-31 14:02:06 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107476 | Distance: 877  | Angle:  67.0 ° | Time: 2017-05-31 14:02:05 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107475 | Distance: 902  | Angle:  69.0 ° | Time: 2017-05-31 14:02:03 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107473 | Distance: 926  | Angle:  71.0 ° | Time: 2017-05-31 14:02:02 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107472 | Distance: 950  | Angle:  73.0 ° | Time: 2017-05-31 14:02:01 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107470 | Distance: 976  | Angle:  75.0 ° | Time: 2017-05-31 14:01:59 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107468 | Distance: 1001 | Angle:  78.0 ° | Time: 2017-05-31 14:01:58 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107465 | Distance: 1026 | Angle:  80.0 ° | Time: 2017-05-31 14:01:57 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107462 | Distance: 1051 | Angle:  82.0 ° | Time: 2017-05-31 14:01:55 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107461 | Distance: 1076 | Angle:  84.0 ° | Time: 2017-05-31 14:01:54 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107460 | Distance: 1101 | Angle:  86.0 ° | Time: 2017-05-31 14:01:53 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107458 | Distance: 1126 | Angle:  88.0 ° | Time: 2017-05-31 14:01:52 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107456 | Distance: 1150 | Angle:  90.0 ° | Time: 2017-05-31 14:01:50 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107454 | Distance: 1175 | Angle:  92.0 ° | Time: 2017-05-31 14:01:49 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107452 | Distance: 1200 | Angle:  94.0 ° | Time: 2017-05-31 14:01:47 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107448 | Distance: 1226 | Angle:  95.0 ° | Time: 2017-05-31 14:01:46 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107447 | Distance: 1251 | Angle:  96.0 ° | Time: 2017-05-31 14:01:45 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107445 | Distance: 1275 | Angle:  97.0 ° | Time: 2017-05-31 14:01:43 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365107444 | Distance: 1300 | Angle:  98.0 ° | Time: 2017-05-31 14:01:42 | suunta_tieosoite: -999 | No direction: True


    Kuvatieto_id: 365099769 | Distance: 7002 | Angle: 219.0 ° | Time: 2017-05-31 11:57:13 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099771 | Distance: 7026 | Angle: 217.0 ° | Time: 2017-05-31 11:57:15 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099774 | Distance: 7051 | Angle: 216.0 ° | Time: 2017-05-31 11:57:16 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099776 | Distance: 7077 | Angle: 214.0 ° | Time: 2017-05-31 11:57:18 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099778 | Distance: 7101 | Angle: 212.0 ° | Time: 2017-05-31 11:57:19 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099779 | Distance: 7126 | Angle: 212.0 ° | Time: 2017-05-31 11:57:21 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099781 | Distance: 7151 | Angle: 215.0 ° | Time: 2017-05-31 11:57:22 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099783 | Distance: 7176 | Angle: 218.0 ° | Time: 2017-05-31 11:57:24 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099785 | Distance: 7201 | Angle: 220.0 ° | Time: 2017-05-31 11:57:25 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099787 | Distance: 7226 | Angle: 217.0 ° | Time: 2017-05-31 11:57:27 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099789 | Distance: 7252 | Angle: 211.0 ° | Time: 2017-05-31 11:57:28 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099791 | Distance: 7276 | Angle: 208.0 ° | Time: 2017-05-31 11:57:30 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099793 | Distance: 7300 | Angle: 209.0 ° | Time: 2017-05-31 11:57:31 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099794 | Distance: 7326 | Angle: 214.0 ° | Time: 2017-05-31 11:57:33 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099796 | Distance: 7351 | Angle: 220.0 ° | Time: 2017-05-31 11:57:34 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099798 | Distance: 7376 | Angle: 225.0 ° | Time: 2017-05-31 11:57:36 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099801 | Distance: 7401 | Angle: 226.0 ° | Time: 2017-05-31 11:57:37 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099803 | Distance: 7426 | Angle: 227.0 ° | Time: 2017-05-31 11:57:38 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099804 | Distance: 7451 | Angle: 227.0 ° | Time: 2017-05-31 11:57:40 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099807 | Distance: 7476 | Angle: 227.0 ° | Time: 2017-05-31 11:57:41 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099809 | Distance: 7501 | Angle: 228.0 ° | Time: 2017-05-31 11:57:43 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099808 | Distance: 7526 | Angle: 228.0 ° | Time: 2017-05-31 11:57:44 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099810 | Distance: 7551 | Angle: 227.0 ° | Time: 2017-05-31 11:57:45 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099811 | Distance: 7575 | Angle: 228.0 ° | Time: 2017-05-31 11:57:47 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099813 | Distance: 7601 | Angle: 227.0 ° | Time: 2017-05-31 11:57:48 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099814 | Distance: 7626 | Angle: 227.0 ° | Time: 2017-05-31 11:57:50 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099816 | Distance: 7651 | Angle: 228.0 ° | Time: 2017-05-31 11:57:51 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099821 | Distance: 7677 | Angle: 228.0 ° | Time: 2017-05-31 11:57:53 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099820 | Distance: 7701 | Angle: 228.0 ° | Time: 2017-05-31 11:57:54 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099818 | Distance: 7726 | Angle: 227.0 ° | Time: 2017-05-31 11:57:56 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099823 | Distance: 7752 | Angle: 227.0 ° | Time: 2017-05-31 11:57:57 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099827 | Distance: 7777 | Angle: 227.0 ° | Time: 2017-05-31 11:57:59 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099829 | Distance: 7802 | Angle: 227.0 ° | Time: 2017-05-31 11:58:00 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099830 | Distance: 7826 | Angle: 227.0 ° | Time: 2017-05-31 11:58:03 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099833 | Distance: 7844 | Angle: 228.0 ° | Time: 2017-05-31 11:58:05 | suunta_tieosoite: -999 | No direction: True


  Road section: 2
    Kuvatieto_id: 365099836 | Distance: 24   | Angle: 301.0 ° | Time: 2017-05-31 11:58:10 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099835 | Distance: 48   | Angle: 337.0 ° | Time: 2017-05-31 11:58:13 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099838 | Distance: 73   | Angle: 340.0 ° | Time: 2017-05-31 11:58:16 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099840 | Distance: 99   | Angle: 337.0 ° | Time: 2017-05-31 11:58:18 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099842 | Distance: 125  | Angle: 327.0 ° | Time: 2017-05-31 11:58:20 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099844 | Distance: 150  | Angle: 315.0 ° | Time: 2017-05-31 11:58:22 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099846 | Distance: 174  | Angle: 314.0 ° | Time: 2017-05-31 11:58:23 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099848 | Distance: 198  | Angle: 325.0 ° | Time: 2017-05-31 11:58:25 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099849 | Distance: 223  | Angle: 333.0 ° | Time: 2017-05-31 11:58:27 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099851 | Distance: 249  | Angle: 334.0 ° | Time: 2017-05-31 11:58:29 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 365099852 | Distance: 274  | Angle: 332.0 ° | Time: 2017-05-31 11:58:31 | suunta_tieosoite: -999 | No direction: True


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Road number: 3511
  Road section: 1
    Kuvatieto_id: 364800595 | Distance: 3925 | Angle: 357.0 ° | Time: 2017-05-26 17:03:23 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800593 | Distance: 3951 | Angle: 352.0 ° | Time: 2017-05-26 17:03:21 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800590 | Distance: 3975 | Angle: 350.0 ° | Time: 2017-05-26 17:03:20 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800589 | Distance: 4000 | Angle: 353.0 ° | Time: 2017-05-26 17:03:18 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800586 | Distance: 4024 | Angle: 355.0 ° | Time: 2017-05-26 17:03:16 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800585 | Distance: 4051 | Angle: 356.0 ° | Time: 2017-05-26 17:03:15 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800584 | Distance: 4075 | Angle: 359.0 ° | Time: 2017-05-26 17:03:13 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800581 | Distance: 4101 | Angle: 359.0 ° | Time: 2017-05-26 17:03:12 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800579 | Distance: 4125 | Angle: 359.0 ° | Time: 2017-05-26 17:03:10 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800578 | Distance: 4149 | Angle: 359.0 ° | Time: 2017-05-26 17:03:08 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800576 | Distance: 4173 | Angle: 359.0 ° | Time: 2017-05-26 17:03:07 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800572 | Distance: 4197 | Angle: 358.0 ° | Time: 2017-05-26 17:03:05 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800570 | Distance: 4221 | Angle: 358.0 ° | Time: 2017-05-26 17:03:03 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800567 | Distance: 4246 | Angle: 357.0 ° | Time: 2017-05-26 17:03:02 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800566 | Distance: 4270 | Angle: 355.0 ° | Time: 2017-05-26 17:03:00 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800563 | Distance: 4301 | Angle: 351.0 ° | Time: 2017-05-26 17:02:59 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800559 | Distance: 4325 | Angle: 346.0 ° | Time: 2017-05-26 17:02:57 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800560 | Distance: 4349 | Angle: 343.0 ° | Time: 2017-05-26 17:02:56 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800557 | Distance: 4376 | Angle: 342.0 ° | Time: 2017-05-26 17:02:54 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800554 | Distance: 4400 | Angle: 342.0 ° | Time: 2017-05-26 17:02:53 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800552 | Distance: 4425 | Angle: 341.0 ° | Time: 2017-05-26 17:02:51 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800550 | Distance: 4449 | Angle: 340.0 ° | Time: 2017-05-26 17:02:49 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800548 | Distance: 4475 | Angle: 339.0 ° | Time: 2017-05-26 17:02:48 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800546 | Distance: 4499 | Angle: 338.0 ° | Time: 2017-05-26 17:02:46 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800544 | Distance: 4524 | Angle: 337.0 ° | Time: 2017-05-26 17:02:44 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800542 | Distance: 4548 | Angle: 337.0 ° | Time: 2017-05-26 17:02:43 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800541 | Distance: 4572 | Angle: 335.0 ° | Time: 2017-05-26 17:02:41 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800539 | Distance: 4601 | Angle: 330.0 ° | Time: 2017-05-26 17:02:40 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800537 | Distance: 4625 | Angle: 320.0 ° | Time: 2017-05-26 17:02:38 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800533 | Distance: 4651 | Angle: 316.0 ° | Time: 2017-05-26 17:02:36 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800530 | Distance: 4676 | Angle: 315.0 ° | Time: 2017-05-26 17:02:34 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800529 | Distance: 4700 | Angle: 310.0 ° | Time: 2017-05-26 17:02:33 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800525 | Distance: 4727 | Angle: 308.0 ° | Time: 2017-05-26 17:02:31 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800521 | Distance: 4751 | Angle: 306.0 ° | Time: 2017-05-26 17:02:29 | suunta_tieosoite: -999 | No direction: True
    Kuvatieto_id: 364800519 | Distance: 4775 | Angle: 306.0 ° | Time: 2017-05-26 17:02:27 | suunta_tieosoite: -999 | No direction: True

Päätellään kuvasarjojen oikeat suunnat.

In [15]:
def define_direction(dict):
    """
    Determines the direction (suunta_tieosoite) for image series. 
    
    Parameters: 
        dict -- nested dictionary built with the build_dict function
    
    Returns:
        dict -- nested dictionary in which the values for the suunta_tieosoite 
                attribute have been changed as follows:
                1 = rising direction 
                2 = falling direction 
                -999 = undetermined

                The boolean value in the nodirection column is also changed to False
                if a new direction is assigned. 
    """
    for tie, sections in dict.items():
            for section in sections:
                for tieosa, datalist in section.items():
                    if tieosa == 'last_images':
                        continue
                    for series in datalist:
                        time_differnece = series[0][3] - series[-1][3]
                        if len(series)>1 and time_differnece!=timedelta(seconds=0):
                            if time_differnece < timedelta(seconds=0):
                                for kuva in series:
                                    kuva[4] = 1
                                    kuva[5] = False
                            elif time_differnece > timedelta(seconds=0):
                                for kuva in series:
                                    kuva[4] = 2
                                    kuva[5] = False
    return dict

In [16]:
# demo
fixed_dict1 = define_direction(build_dict(df1))
nice_print(fixed_dict1)

Road number: 7
  Road section: 39
    Kuvatieto_id: 364783162 | Distance: 5107 | Angle: 149.0 ° | Time: 2017-05-26 11:36:30 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 364783163 | Distance: 5124 | Angle: 148.0 ° | Time: 2017-05-26 11:36:31 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 364783164 | Distance: 5136 | Angle: 148.0 ° | Time: 2017-05-26 11:36:31 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 364783165 | Distance: 5146 | Angle: 148.0 ° | Time: 2017-05-26 11:36:31 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 364783168 | Distance: 5152 | Angle: 147.0 ° | Time: 2017-05-26 11:36:32 | suunta_tieosoite: 1 | No direction: False


    Kuvatieto_id: 364781680 | Distance: 5107 | Angle: 323.0 ° | Time: 2017-05-26 11:14:33 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364781681 | Distance: 5124 | Angle: 323.0 ° | Time: 2017-05-26 11:14:33 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364781672 | Distance: 5136 | Angle: 322.0 ° | Time: 2017-05-26 11:14:32 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364781673 | Distance: 5146 | Angle: 322.0 ° | Time: 2017-05-26 11:14:32 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364781676 | Distance: 5152 | Angle: 321.0 ° | Time: 2017-05-26 11:14:32 | suunta_tieosoite: 2 | No direction: False


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Road number: 1731
  Road section: 1
    Kuvatieto_id: 365107565 | Distance: 0    | Angle:  12.0 ° | Time: 2017-05-31 14:02:59 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107563 | Distance: 25   | Angle:  12.0 ° | Time: 2017-05-31 14:02:56 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107561 | Distance: 50   | Angle:  13.0 ° | Time: 2017-05-31 14:02:53 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107560 | Distance: 76   | Angle:  12.0 ° | Time: 2017-05-31 14:02:51 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107557 | Distance: 100  | Angle:  12.0 ° | Time: 2017-05-31 14:02:49 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107556 | Distance: 125  | Angle:  12.0 ° | Time: 2017-05-31 14:02:47 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107554 | Distance: 151  | Angle:  13.0 ° | Time: 2017-05-31 14:02:46 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107550 | Distance: 175  | Angle:  13.0 ° | Time: 2017-05-31 14:02:44 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107551 | Distance: 200  | Angle:  14.0 ° | Time: 2017-05-31 14:02:42 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107549 | Distance: 226  | Angle:  16.0 ° | Time: 2017-05-31 14:02:41 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107547 | Distance: 250  | Angle:  18.0 ° | Time: 2017-05-31 14:02:39 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107545 | Distance: 275  | Angle:  21.0 ° | Time: 2017-05-31 14:02:38 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107542 | Distance: 301  | Angle:  24.0 ° | Time: 2017-05-31 14:02:36 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107541 | Distance: 326  | Angle:  27.0 ° | Time: 2017-05-31 14:02:35 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107539 | Distance: 351  | Angle:  30.0 ° | Time: 2017-05-31 14:02:34 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107536 | Distance: 376  | Angle:  33.0 ° | Time: 2017-05-31 14:02:32 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107533 | Distance: 400  | Angle:  36.0 ° | Time: 2017-05-31 14:02:31 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107529 | Distance: 426  | Angle:  39.0 ° | Time: 2017-05-31 14:02:30 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107528 | Distance: 450  | Angle:  41.0 ° | Time: 2017-05-31 14:02:28 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107522 | Distance: 475  | Angle:  43.0 ° | Time: 2017-05-31 14:02:27 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107519 | Distance: 500  | Angle:  46.0 ° | Time: 2017-05-31 14:02:25 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107517 | Distance: 526  | Angle:  47.0 ° | Time: 2017-05-31 14:02:24 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107515 | Distance: 552  | Angle:  49.0 ° | Time: 2017-05-31 14:02:23 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107512 | Distance: 576  | Angle:  51.0 ° | Time: 2017-05-31 14:02:21 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107504 | Distance: 600  | Angle:  52.0 ° | Time: 2017-05-31 14:02:20 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107507 | Distance: 626  | Angle:  54.0 ° | Time: 2017-05-31 14:02:18 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107502 | Distance: 651  | Angle:  55.0 ° | Time: 2017-05-31 14:02:17 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107499 | Distance: 676  | Angle:  56.0 ° | Time: 2017-05-31 14:02:16 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107496 | Distance: 700  | Angle:  57.0 ° | Time: 2017-05-31 14:02:14 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107493 | Distance: 725  | Angle:  59.0 ° | Time: 2017-05-31 14:02:13 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107489 | Distance: 751  | Angle:  61.0 ° | Time: 2017-05-31 14:02:12 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107494 | Distance: 777  | Angle:  62.0 ° | Time: 2017-05-31 14:02:10 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107485 | Distance: 801  | Angle:  64.0 ° | Time: 2017-05-31 14:02:09 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107483 | Distance: 826  | Angle:  65.0 ° | Time: 2017-05-31 14:02:07 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107479 | Distance: 852  | Angle:  66.0 ° | Time: 2017-05-31 14:02:06 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107476 | Distance: 877  | Angle:  67.0 ° | Time: 2017-05-31 14:02:05 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107475 | Distance: 902  | Angle:  69.0 ° | Time: 2017-05-31 14:02:03 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107473 | Distance: 926  | Angle:  71.0 ° | Time: 2017-05-31 14:02:02 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107472 | Distance: 950  | Angle:  73.0 ° | Time: 2017-05-31 14:02:01 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107470 | Distance: 976  | Angle:  75.0 ° | Time: 2017-05-31 14:01:59 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107468 | Distance: 1001 | Angle:  78.0 ° | Time: 2017-05-31 14:01:58 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107465 | Distance: 1026 | Angle:  80.0 ° | Time: 2017-05-31 14:01:57 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107462 | Distance: 1051 | Angle:  82.0 ° | Time: 2017-05-31 14:01:55 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107461 | Distance: 1076 | Angle:  84.0 ° | Time: 2017-05-31 14:01:54 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107460 | Distance: 1101 | Angle:  86.0 ° | Time: 2017-05-31 14:01:53 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107458 | Distance: 1126 | Angle:  88.0 ° | Time: 2017-05-31 14:01:52 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107456 | Distance: 1150 | Angle:  90.0 ° | Time: 2017-05-31 14:01:50 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107454 | Distance: 1175 | Angle:  92.0 ° | Time: 2017-05-31 14:01:49 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107452 | Distance: 1200 | Angle:  94.0 ° | Time: 2017-05-31 14:01:47 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107448 | Distance: 1226 | Angle:  95.0 ° | Time: 2017-05-31 14:01:46 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107447 | Distance: 1251 | Angle:  96.0 ° | Time: 2017-05-31 14:01:45 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107445 | Distance: 1275 | Angle:  97.0 ° | Time: 2017-05-31 14:01:43 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 365107444 | Distance: 1300 | Angle:  98.0 ° | Time: 2017-05-31 14:01:42 | suunta_tieosoite: 2 | No direction: False


    Kuvatieto_id: 365099769 | Distance: 7002 | Angle: 219.0 ° | Time: 2017-05-31 11:57:13 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099771 | Distance: 7026 | Angle: 217.0 ° | Time: 2017-05-31 11:57:15 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099774 | Distance: 7051 | Angle: 216.0 ° | Time: 2017-05-31 11:57:16 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099776 | Distance: 7077 | Angle: 214.0 ° | Time: 2017-05-31 11:57:18 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099778 | Distance: 7101 | Angle: 212.0 ° | Time: 2017-05-31 11:57:19 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099779 | Distance: 7126 | Angle: 212.0 ° | Time: 2017-05-31 11:57:21 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099781 | Distance: 7151 | Angle: 215.0 ° | Time: 2017-05-31 11:57:22 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099783 | Distance: 7176 | Angle: 218.0 ° | Time: 2017-05-31 11:57:24 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099785 | Distance: 7201 | Angle: 220.0 ° | Time: 2017-05-31 11:57:25 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099787 | Distance: 7226 | Angle: 217.0 ° | Time: 2017-05-31 11:57:27 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099789 | Distance: 7252 | Angle: 211.0 ° | Time: 2017-05-31 11:57:28 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099791 | Distance: 7276 | Angle: 208.0 ° | Time: 2017-05-31 11:57:30 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099793 | Distance: 7300 | Angle: 209.0 ° | Time: 2017-05-31 11:57:31 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099794 | Distance: 7326 | Angle: 214.0 ° | Time: 2017-05-31 11:57:33 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099796 | Distance: 7351 | Angle: 220.0 ° | Time: 2017-05-31 11:57:34 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099798 | Distance: 7376 | Angle: 225.0 ° | Time: 2017-05-31 11:57:36 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099801 | Distance: 7401 | Angle: 226.0 ° | Time: 2017-05-31 11:57:37 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099803 | Distance: 7426 | Angle: 227.0 ° | Time: 2017-05-31 11:57:38 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099804 | Distance: 7451 | Angle: 227.0 ° | Time: 2017-05-31 11:57:40 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099807 | Distance: 7476 | Angle: 227.0 ° | Time: 2017-05-31 11:57:41 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099809 | Distance: 7501 | Angle: 228.0 ° | Time: 2017-05-31 11:57:43 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099808 | Distance: 7526 | Angle: 228.0 ° | Time: 2017-05-31 11:57:44 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099810 | Distance: 7551 | Angle: 227.0 ° | Time: 2017-05-31 11:57:45 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099811 | Distance: 7575 | Angle: 228.0 ° | Time: 2017-05-31 11:57:47 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099813 | Distance: 7601 | Angle: 227.0 ° | Time: 2017-05-31 11:57:48 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099814 | Distance: 7626 | Angle: 227.0 ° | Time: 2017-05-31 11:57:50 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099816 | Distance: 7651 | Angle: 228.0 ° | Time: 2017-05-31 11:57:51 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099821 | Distance: 7677 | Angle: 228.0 ° | Time: 2017-05-31 11:57:53 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099820 | Distance: 7701 | Angle: 228.0 ° | Time: 2017-05-31 11:57:54 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099818 | Distance: 7726 | Angle: 227.0 ° | Time: 2017-05-31 11:57:56 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099823 | Distance: 7752 | Angle: 227.0 ° | Time: 2017-05-31 11:57:57 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099827 | Distance: 7777 | Angle: 227.0 ° | Time: 2017-05-31 11:57:59 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099829 | Distance: 7802 | Angle: 227.0 ° | Time: 2017-05-31 11:58:00 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099830 | Distance: 7826 | Angle: 227.0 ° | Time: 2017-05-31 11:58:03 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099833 | Distance: 7844 | Angle: 228.0 ° | Time: 2017-05-31 11:58:05 | suunta_tieosoite: 1 | No direction: False


  Road section: 2
    Kuvatieto_id: 365099836 | Distance: 24   | Angle: 301.0 ° | Time: 2017-05-31 11:58:10 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099835 | Distance: 48   | Angle: 337.0 ° | Time: 2017-05-31 11:58:13 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099838 | Distance: 73   | Angle: 340.0 ° | Time: 2017-05-31 11:58:16 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099840 | Distance: 99   | Angle: 337.0 ° | Time: 2017-05-31 11:58:18 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099842 | Distance: 125  | Angle: 327.0 ° | Time: 2017-05-31 11:58:20 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099844 | Distance: 150  | Angle: 315.0 ° | Time: 2017-05-31 11:58:22 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099846 | Distance: 174  | Angle: 314.0 ° | Time: 2017-05-31 11:58:23 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099848 | Distance: 198  | Angle: 325.0 ° | Time: 2017-05-31 11:58:25 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099849 | Distance: 223  | Angle: 333.0 ° | Time: 2017-05-31 11:58:27 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099851 | Distance: 249  | Angle: 334.0 ° | Time: 2017-05-31 11:58:29 | suunta_tieosoite: 1 | No direction: False
    Kuvatieto_id: 365099852 | Distance: 274  | Angle: 332.0 ° | Time: 2017-05-31 11:58:31 | suunta_tieosoite: 1 | No direction: False


- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Road number: 3511
  Road section: 1
    Kuvatieto_id: 364800595 | Distance: 3925 | Angle: 357.0 ° | Time: 2017-05-26 17:03:23 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800593 | Distance: 3951 | Angle: 352.0 ° | Time: 2017-05-26 17:03:21 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800590 | Distance: 3975 | Angle: 350.0 ° | Time: 2017-05-26 17:03:20 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800589 | Distance: 4000 | Angle: 353.0 ° | Time: 2017-05-26 17:03:18 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800586 | Distance: 4024 | Angle: 355.0 ° | Time: 2017-05-26 17:03:16 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800585 | Distance: 4051 | Angle: 356.0 ° | Time: 2017-05-26 17:03:15 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800584 | Distance: 4075 | Angle: 359.0 ° | Time: 2017-05-26 17:03:13 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800581 | Distance: 4101 | Angle: 359.0 ° | Time: 2017-05-26 17:03:12 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800579 | Distance: 4125 | Angle: 359.0 ° | Time: 2017-05-26 17:03:10 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800578 | Distance: 4149 | Angle: 359.0 ° | Time: 2017-05-26 17:03:08 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800576 | Distance: 4173 | Angle: 359.0 ° | Time: 2017-05-26 17:03:07 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800572 | Distance: 4197 | Angle: 358.0 ° | Time: 2017-05-26 17:03:05 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800570 | Distance: 4221 | Angle: 358.0 ° | Time: 2017-05-26 17:03:03 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800567 | Distance: 4246 | Angle: 357.0 ° | Time: 2017-05-26 17:03:02 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800566 | Distance: 4270 | Angle: 355.0 ° | Time: 2017-05-26 17:03:00 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800563 | Distance: 4301 | Angle: 351.0 ° | Time: 2017-05-26 17:02:59 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800559 | Distance: 4325 | Angle: 346.0 ° | Time: 2017-05-26 17:02:57 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800560 | Distance: 4349 | Angle: 343.0 ° | Time: 2017-05-26 17:02:56 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800557 | Distance: 4376 | Angle: 342.0 ° | Time: 2017-05-26 17:02:54 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800554 | Distance: 4400 | Angle: 342.0 ° | Time: 2017-05-26 17:02:53 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800552 | Distance: 4425 | Angle: 341.0 ° | Time: 2017-05-26 17:02:51 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800550 | Distance: 4449 | Angle: 340.0 ° | Time: 2017-05-26 17:02:49 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800548 | Distance: 4475 | Angle: 339.0 ° | Time: 2017-05-26 17:02:48 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800546 | Distance: 4499 | Angle: 338.0 ° | Time: 2017-05-26 17:02:46 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800544 | Distance: 4524 | Angle: 337.0 ° | Time: 2017-05-26 17:02:44 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800542 | Distance: 4548 | Angle: 337.0 ° | Time: 2017-05-26 17:02:43 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800541 | Distance: 4572 | Angle: 335.0 ° | Time: 2017-05-26 17:02:41 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800539 | Distance: 4601 | Angle: 330.0 ° | Time: 2017-05-26 17:02:40 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800537 | Distance: 4625 | Angle: 320.0 ° | Time: 2017-05-26 17:02:38 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800533 | Distance: 4651 | Angle: 316.0 ° | Time: 2017-05-26 17:02:36 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800530 | Distance: 4676 | Angle: 315.0 ° | Time: 2017-05-26 17:02:34 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800529 | Distance: 4700 | Angle: 310.0 ° | Time: 2017-05-26 17:02:33 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800525 | Distance: 4727 | Angle: 308.0 ° | Time: 2017-05-26 17:02:31 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800521 | Distance: 4751 | Angle: 306.0 ° | Time: 2017-05-26 17:02:29 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800519 | Distance: 4775 | Angle: 306.0 ° | Time: 2017-05-26 17:02:27 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800514 | Distance: 4799 | Angle: 308.0 ° | Time: 2017-05-26 17:02:25 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800511 | Distance: 4823 | Angle: 321.0 ° | Time: 2017-05-26 17:02:23 | suunta_tieosoite: 2 | No direction: False
    Kuvatieto_id: 364800512 | Distance: 4849 | Angle: 340.0 ° | Time: 2017-05-26 17:02:21 | suunta_tieosoite: 2 | No direction: False

Muunnetaan luodut sisäkkäiset sanakirjat takaisin yhdeksi Pandas-Dataframeksi, sellaiseen muotoon, jolla se voidaan viedä takaisin järjestelmään.

In [17]:
def dict_to_df(dict) -> pd.DataFrame:
    images = []
    for tie, sections in dict.items():
            for section in sections:
                for tieosa, datalist in section.items():
                    if tieosa == 'last_images':
                         continue
                    for series in datalist:
                        for image in series:
                            images.append({'kuvatieto_id': image[1], 'tie': image, 'tieosa': tieosa, 
                                          'etaisyys':image[0], 'kuvausaika': image[3], 'suunta_tieosoite': image[4], 'nodirection': image[5]})
    df = pd.DataFrame(images)
    
    pd.set_option('display.max_rows', 600)
    return df

In [18]:
# demo
fixed_df1 = dict_to_df(fixed_dict1)
fixed_df1

,kuvatieto_id,tie,tieosa,etaisyys,kuvausaika,suunta_tieosoite,nodirection
0,364783162,"[5107, 364783162, 149.0, 2017-05-26 11:36:30, ...",39,5107,2017-05-26 11:36:30,1,False
1,364783163,"[5124, 364783163, 148.0, 2017-05-26 11:36:31, ...",39,5124,2017-05-26 11:36:31,1,False
2,364783164,"[5136, 364783164, 148.0, 2017-05-26 11:36:31, ...",39,5136,2017-05-26 11:36:31,1,False
3,364783165,"[5146, 364783165, 148.0, 2017-05-26 11:36:31, ...",39,5146,2017-05-26 11:36:31,1,False
4,364783168,"[5152, 364783168, 147.0, 2017-05-26 11:36:32, ...",39,5152,2017-05-26 11:36:32,1,False
5,364781680,"[5107, 364781680, 323.0, 2017-05-26 11:14:33, ...",39,5107,2017-05-26 11:14:33,2,False
6,364781681,"[5124, 364781681, 323.0, 2017-05-26 11:14:33, ...",39,5124,2017-05-26 11:14:33,2,False
7,364781672,"[5136, 364781672, 322.0, 2017-05-26 11:14:32, ...",39,5136,2017-05-26 11:14:32,2,False
8,364781673,"[5146, 364781673, 322.0, 2017-05-26 11:14:32, ...",39,5146,2017-05-26 11:14:32,2,False
9,364781676,"[5152, 364781676, 321.0, 2017-05-26 11:14:32, ...",39,5152,2017-05-26 11:14:32,2,False
10,365107565,"[0, 365107565, 12.0, 2017-05-31 14:02:59, 2, F...",1,0,2017-05-31 14:02:59,2,False
11,365107563,"[25, 365107563, 12.0, 2017-05-31 14:02:56, 2, ...",1,25,2017-05-31 14:02:56,2,False
12,365107561,"[50, 365107561, 13.0, 2017-05-31 14:02:53, 2, ...",1,50,2017-05-31 14:02:53,2,False
13,365107560,"[76, 365107560, 12.0, 2017-05-31 14:02:51, 2, ...",1,76,2017-05-31 14:02:51,2,False
14,365107557,"[100, 365107557, 12.0, 2017-05-31 14:02:49, 2,...",1,100,2017-05-31 14:02:49,2,False
15,365107556,"[125, 365107556, 12.0, 2017-05-31 14:02:47, 2,...",1,125,2017-05-31 14:02:47,2,False
16,365107554,"[151, 365107554, 13.0, 2017-05-31 14:02:46, 2,...",1,151,2017-05-31 14:02:46,2,False
17,365107550,"[175, 365107550, 13.0, 2017-05-31 14:02:44, 2,...",1,175,2017-05-31 14:02:44,2,False
18,365107551,"[200, 365107551, 14.0, 2017-05-31 14:02:42, 2,...",1,200,2017-05-31 14:02:42,2,False
19,365107549,"[226, 365107549, 16.0, 2017-05-31 14:02:41, 2,...",1,226,2017-05-31 14:02:41,2,False
20,365107547,"[250, 365107547, 18.0, 2017-05-31 14:02:39, 2,...",1,250,2017-05-31 14:02:39,2,False
21,365107545,"[275, 365107545, 21.0, 2017-05-31 14:02:38, 2,...",1,275,2017-05-31 14:02:38,2,False
22,365107542,"[301, 365107542, 24.0, 2017-05-31 14:02:36, 2,...",1,301,2017-05-31 14:02:36,2,False
23,365107541,"[326, 365107541, 27.0, 2017-05-31 14:02:35, 2,...",1,326,2017-05-31 14:02:35,2,False
24,365107539,"[351, 365107539, 30.0, 2017-05-31 14:02:34, 2,...",1,351,2017-05-31 14:02:34,2,False
25,365107536,"[376, 365107536, 33.0, 2017-05-31 14:02:32, 2,...",1,376,2017-05-31 14:02:32,2,False
26,365107533,"[400, 365107533, 36.0, 2017-05-31 14:02:31, 2,...",1,400,2017-05-31 14:02:31,2,False
27,365107529,"[426, 365107529, 39.0, 2017-05-31 14:02:30, 2,...",1,426,2017-05-31 14:02:30,2,False
28,365107528,"[450, 365107528, 41.0, 2017-05-31 14:02:28, 2,...",1,450,2017-05-31 14:02:28,2,False
29,365107522,"[475, 365107522, 43.0, 2017-05-31 14:02:27, 2,...",1,475,2017-05-31 14:02:27,2,False
30,365107519,"[500, 365107519, 46.0, 2017-05-31 14:02:25, 2,...",1,500,2017-05-31 14:02:25,2,False
31,365107517,"[526, 365107517, 47.0, 2017-05-31 14:02:24, 2,...",1,526,2017-05-31 14:02:24,2,False
32,365107515,"[552, 365107515, 49.0, 2017-05-31 14:02:23, 2,...",1,552,2017-05-31 14:02:23,2,False
33,365107512,"[576, 365107512, 51.0, 2017-05-31 14:02:21, 2,...",1,576,2017-05-31 14:02:21,2,False
34,365107504,"[600, 365107504, 52.0, 2017-05-31 14:02:20, 2,...",1,600,2017-05-31 14:02:20,2,False
35,365107507,"[626, 365107507, 54.0, 2017-05-31 14:02:18, 2,...",1,626,2017-05-31 14:02:18,2,False
36,365107502,"[651, 365107502, 55.0, 2017-05-31 14:02:17, 2,...",1,651,2017-05-31 14:02:17,2,False
37,365107499,"[676, 365107499, 56.0, 2017-05-31 14:02:16, 2,...",1,676,2017-05-31 14:02:16,2,False
38,365107496,"[700, 365107496, 57.0, 2017-05-31 14:02:14, 2,...",1,700,2017-05-31 14:02:14,2,False
39,365107493,"[725, 365107493, 59.0, 2017-05-31 14:02:13, 2,...",1,725,2017-05-31 14:02:13,2,False
40,365107489,"[751, 365107489, 61.0, 2017-05-31 14:02:12, 2,...",1,751,2017-05-31 14:02:12,2,False
41,365107494,"[777, 365107494, 62.0, 2017-05-31 14:02:10, 2,...",1,777,2017-05-31 14:02:10,2,False
42,365107485,"[801, 365107485, 64.0, 2017-05-31 14:02:09, 2,...",1,801,2017-05-31 14:02:09,2,False
43,365107483,"[826, 365107483, 65.0, 2017-05-31 14:02:07, 2,...",1,826,2017-05-31 14:02:07,2,False
44,365107479,"[852, 365107479, 66.0, 2017-05-31 14:02:06, 2,...",1,852,2017-05-31 14:02:06,2,False
45,365107476,"[877, 365107476, 67.0, 2017-05-31 14:02:05, 2,...",1,877,2017-05-31 14:02:05,2,False
46,365107475,"[902, 365107475, 69.0, 2017-05-31 14:02:03, 2,...",1,902,2017-05-31 14:02:03,2,False
47,365107473,"[926, 365107473, 71.0, 2017-05-31 14:02:02, 2,...",1,926,2017-05-31 14:02:02,2,False
48,365107472,"[950, 365107472, 73.0, 2017-05-31 14:02:01, 2,...",1,950,2017-05-31 14:02:01,2,False
49,365107470,"[976, 365107470, 75.0, 2017-05-31 14:01:59, 2,...",1,976,2017-05-31 14:01:59,2,False
50,365107468,"[1001, 365107468, 78.0, 2017-05-31 14:01:58, 2...",1,1001,2017-05-31 14:01:58,2,False
51,365107465,"[1026, 365107465, 80.0, 2017-05-31 14:01:57, 2...",1,1026,2017-05-31 14:01:57,2,False
52,365107462,"[1051, 365107462, 82.0, 2017-05-31 14:01:55, 2...",1,1051,2017-05-31 14:01:55,2,False
53,365107461,"[1076, 365107461, 84.0, 2017-05-31 14:01:54, 2...",1,1076,2017-05-31 14:01:54,2,False
54,365107460,"[1101, 365107460, 86.0, 2017-05-31 14:01:53, 2...",1,1101,2017-05-31 14:01:53,2,False
55,365107458,"[1126, 365107458, 88.0, 2017-05-31 14:01:52, 2...",1,1126,2017-05-31 14:01:52,2,False
56,365107456,"[1150, 365107456, 90.0, 2017-05-31 14:01:50, 2...",1,1150,2017-05-31 14:01:50,2,False
57,365107454,"[1175, 365107454, 92.0, 2017-05-31 14:01:49, 2...",1,1175,2017-05-31 14:01:49,2,False
58,365107452,"[1200, 365107452, 94.0, 2017-05-31 14:01:47, 2...",1,1200,2017-05-31 14:01:47,2,False
59,365107448,"[1226, 365107448, 95.0, 2017-05-31 14:01:46, 2...",1,1226,2017-05-31 14:01:46,2,False
60,365107447,"[1251, 365107447, 96.0, 2017-05-31 14:01:45, 2...",1,1251,2017-05-31 14:01:45,2,False
61,365107445,"[1275, 365107445, 97.0, 2017-05-31 14:01:43, 2...",1,1275,2017-05-31 14:01:43,2,False
62,365107444,"[1300, 365107444, 98.0, 2017-05-31 14:01:42, 2...",1,1300,2017-05-31 14:01:42,2,False
63,365099769,"[7002, 365099769, 219.0, 2017-05-31 11:57:13, ...",1,7002,2017-05-31 11:57:13,1,False
64,365099771,"[7026, 365099771, 217.0, 2017-05-31 11:57:15, ...",1,7026,2017-05-31 11:57:15,1,False
65,365099774,"[7051, 365099774, 216.0, 2017-05-31 11:57:16, ...",1,7051,2017-05-31 11:57:16,1,False
66,365099776,"[7077, 365099776, 214.0, 2017-05-31 11:57:18, ...",1,7077,2017-05-31 11:57:18,1,False
67,365099778,"[7101, 365099778, 212.0, 2017-05-31 11:57:19, ...",1,7101,2017-05-31 11:57:19,1,False
68,365099779,"[7126, 365099779, 212.0, 2017-05-31 11:57:21, ...",1,7126,2017-05-31 11:57:21,1,False
69,365099781,"[7151, 365099781, 215.0, 2017-05-31 11:57:22, ...",1,7151,2017-05-31 11:57:22,1,False
70,365099783,"[7176, 365099783, 218.0, 2017-05-31 11:57:24, ...",1,7176,2017-05-31 11:57:24,1,False
71,365099785,"[7201, 365099785, 220.0, 2017-05-31 11:57:25, ...",1,7201,2017-05-31 11:57:25,1,False
72,365099787,"[7226, 365099787, 217.0, 2017-05-31 11:57:27, ...",1,7226,2017-05-31 11:57:27,1,False
73,365099789,"[7252, 365099789, 211.0, 2017-05-31 11:57:28, ...",1,7252,2017-05-31 11:57:28,1,False
74,365099791,"[7276, 365099791, 208.0, 2017-05-31 11:57:30, ...",1,7276,2017-05-31 11:57:30,1,False
75,365099793,"[7300, 365099793, 209.0, 2017-05-31 11:57:31, ...",1,7300,2017-05-31 11:57:31,1,False
76,365099794,"[7326, 365099794, 214.0, 2017-05-31 11:57:33, ...",1,7326,2017-05-31 11:57:33,1,False
77,365099796,"[7351, 365099796, 220.0, 2017-05-31 11:57:34, ...",1,7351,2017-05-31 11:57:34,1,False
78,365099798,"[7376, 365099798, 225.0, 2017-05-31 11:57:36, ...",1,7376,2017-05-31 11:57:36,1,False
79,365099801,"[7401, 365099801, 226.0, 2017-05-31 11:57:37, ...",1,7401,2017-05-31 11:57:37,1,False
80,365099803,"[7426, 365099803, 227.0, 2017-05-31 11:57:38, ...",1,7426,2017-05-31 11:57:38,1,False
81,365099804,"[7451, 365099804, 227.0, 2017-05-31 11:57:40, ...",1,7451,2017-05-31 11:57:40,1,False
82,365099807,"[7476, 365099807, 227.0, 2017-05-31 11:57:41, ...",1,7476,2017-05-31 11:57:41,1,False
83,365099809,"[7501, 365099809, 228.0, 2017-05-31 11:57:43, ...",1,7501,2017-05-31 11:57:43,1,False
84,365099808,"[7526, 365099808, 228.0, 2017-05-31 11:57:44, ...",1,7526,2017-05-31 11:57:44,1,False
85,365099810,"[7551, 365099810, 227.0, 2017-05-31 11:57:45, ...",1,7551,2017-05-31 11:57:45,1,False
86,365099811,"[7575, 365099811, 228.0, 2017-05-31 11:57:47, ...",1,7575,2017-05-31 11:57:47,1,False
87,365099813,"[7601, 365099813, 227.0, 2017-05-31 11:57:48, ...",1,7601,2017-05-31 11:57:48,1,False
88,365099814,"[7626, 365099814, 227.0, 2017-05-31 11:57:50, ...",1,7626,2017-05-31 11:57:50,1,False
89,365099816,"[7651, 365099816, 228.0, 2017-05-31 11:57:51, ...",1,7651,2017-05-31 11:57:51,1,False
90,365099821,"[7677, 365099821, 228.0, 2017-05-31 11:57:53, ...",1,7677,2017-05-31 11:57:53,1,False
91,365099820,"[7701, 365099820, 228.0, 2017-05-31 11:57:54, ...",1,7701,2017-05-31 11:57:54,1,False
92,365099818,"[7726, 365099818, 227.0, 2017-05-31 11:57:56, ...",1,7726,2017-05-31 11:57:56,1,False
93,365099823,"[7752, 365099823, 227.0, 2017-05-31 11:57:57, ...",1,7752,2017-05-31 11:57:57,1,False
94,365099827,"[7777, 365099827, 227.0, 2017-05-31 11:57:59, ...",1,7777,2017-05-31 11:57:59,1,False
95,365099829,"[7802, 365099829, 227.0, 2017-05-31 11:58:00, ...",1,7802,2017-05-31 11:58:00,1,False
96,365099830,"[7826, 365099830, 227.0, 2017-05-31 11:58:03, ...",1,7826,2017-05-31 11:58:03,1,False
97,365099833,"[7844, 365099833, 228.0, 2017-05-31 11:58:05, ...",1,7844,2017-05-31 11:58:05,1,False
98,365099836,"[24, 365099836, 301.0, 2017-05-31 11:58:10, 1,...",2,24,2017-05-31 11:58:10,1,False
99,365099835,"[48, 365099835, 337.0, 2017-05-31 11:58:13, 1,...",2,48,2017-05-31 11:58:13,1,False
100,365099838,"[73, 365099838, 340.0, 2017-05-31 11:58:16, 1,...",2,73,2017-05-31 11:58:16,1,False
101,365099840,"[99, 365099840, 337.0, 2017-05-31 11:58:18, 1,...",2,99,2017-05-31 11:58:18,1,False
102,365099842,"[125, 365099842, 327.0, 2017-05-31 11:58:20, 1...",2,125,2017-05-31 11:58:20,1,False
103,365099844,"[150, 365099844, 315.0, 2017-05-31 11:58:22, 1...",2,150,2017-05-31 11:58:22,1,False
104,365099846,"[174, 365099846, 314.0, 2017-05-31 11:58:23, 1...",2,174,2017-05-31 11:58:23,1,False
105,365099848,"[198, 365099848, 325.0, 2017-05-31 11:58:25, 1...",2,198,2017-05-31 11:58:25,1,False
106,365099849,"[223, 365099849, 333.0, 2017-05-31 11:58:27, 1...",2,223,2017-05-31 11:58:27,1,False
107,365099851,"[249, 365099851, 334.0, 2017-05-31 11:58:29, 1...",2,249,2017-05-31 11:58:29,1,False
108,365099852,"[274, 365099852, 332.0, 2017-05-31 11:58:31, 1...",2,274,2017-05-31 11:58:31,1,False
109,364800595,"[3925, 364800595, 357.0, 2017-05-26 17:03:23, ...",1,3925,2017-05-26 17:03:23,2,False
110,364800593,"[3951, 364800593, 352.0, 2017-05-26 17:03:21, ...",1,3951,2017-05-26 17:03:21,2,False
111,364800590,"[3975, 364800590, 350.0, 2017-05-26 17:03:20, ...",1,3975,2017-05-26 17:03:20,2,False
112,364800589,"[4000, 364800589, 353.0, 2017-05-26 17:03:18, ...",1,4000,2017-05-26 17:03:18,2,False
113,364800586,"[4024, 364800586, 355.0, 2017-05-26 17:03:16, ...",1,4024,2017-05-26 17:03:16,2,False
114,364800585,"[4051, 364800585, 356.0, 2017-05-26 17:03:15, ...",1,4051,2017-05-26 17:03:15,2,False
115,364800584,"[4075, 364800584, 359.0, 2017-05-26 17:03:13, ...",1,4075,2017-05-26 17:03:13,2,False
116,364800581,"[4101, 364800581, 359.0, 2017-05-26 17:03:12, ...",1,4101,2017-05-26 17:03:12,2,False
117,364800579,"[4125, 364800579, 359.0, 2017-05-26 17:03:10, ...",1,4125,2017-05-26 17:03:10,2,False
118,364800578,"[4149, 364800578, 359.0, 2017-05-26 17:03:08, ...",1,4149,2017-05-26 17:03:08,2,False
119,364800576,"[4173, 364800576, 359.0, 2017-05-26 17:03:07, ...",1,4173,2017-05-26 17:03:07,2,False
120,364800572,"[4197, 364800572, 358.0, 2017-05-26 17:03:05, ...",1,4197,2017-05-26 17:03:05,2,False
121,364800570,"[4221, 364800570, 358.0, 2017-05-26 17:03:03, ...",1,4221,2017-05-26 17:03:03,2,False
122,364800567,"[4246, 364800567, 357.0, 2017-05-26 17:03:02, ...",1,4246,2017-05-26 17:03:02,2,False
123,364800566,"[4270, 364800566, 355.0, 2017-05-26 17:03:00, ...",1,4270,2017-05-26 17:03:00,2,False
124,364800563,"[4301, 364800563, 351.0, 2017-05-26 17:02:59, ...",1,4301,2017-05-26 17:02:59,2,False
125,364800559,"[4325, 364800559, 346.0, 2017-05-26 17:02:57, ...",1,4325,2017-05-26 17:02:57,2,False
126,364800560,"[4349, 364800560, 343.0, 2017-05-26 17:02:56, ...",1,4349,2017-05-26 17:02:56,2,False
127,364800557,"[4376, 364800557, 342.0, 2017-05-26 17:02:54, ...",1,4376,2017-05-26 17:02:54,2,False
128,364800554,"[4400, 364800554, 342.0, 2017-05-26 17:02:53, ...",1,4400,2017-05-26 17:02:53,2,False
129,364800552,"[4425, 364800552, 341.0, 2017-05-26 17:02:51, ...",1,4425,2017-05-26 17:02:51,2,False
130,364800550,"[4449, 364800550, 340.0, 2017-05-26 17:02:49, ...",1,4449,2017-05-26 17:02:49,2,False
131,364800548,"[4475, 364800548, 339.0, 2017-05-26 17:02:48, ...",1,4475,2017-05-26 17:02:48,2,False
132,364800546,"[4499, 364800546, 338.0, 2017-05-26 17:02:46, ...",1,4499,2017-05-26 17:02:46,2,False
133,364800544,"[4524, 364800544, 337.0, 2017-05-26 17:02:44, ...",1,4524,2017-05-26 17:02:44,2,False
134,364800542,"[4548, 364800542, 337.0, 2017-05-26 17:02:43, ...",1,4548,2017-05-26 17:02:43,2,False
135,364800541,"[4572, 364800541, 335.0, 2017-05-26 17:02:41, ...",1,4572,2017-05-26 17:02:41,2,False
136,364800539,"[4601, 364800539, 330.0, 2017-05-26 17:02:40, ...",1,4601,2017-05-26 17:02:40,2,False
137,364800537,"[4625, 364800537, 320.0, 2017-05-26 17:02:38, ...",1,4625,2017-05-26 17:02:38,2,False
138,364800533,"[4651, 364800533, 316.0, 2017-05-26 17:02:36, ...",1,4651,2017-05-26 17:02:36,2,False
139,364800530,"[4676, 364800530, 315.0, 2017-05-26 17:02:34, ...",1,4676,2017-05-26 17:02:34,2,False
140,364800529,"[4700, 364800529, 310.0, 2017-05-26 17:02:33, ...",1,4700,2017-05-26 17:02:33,2,False
141,364800525,"[4727, 364800525, 308.0, 2017-05-26 17:02:31, ...",1,4727,2017-05-26 17:02:31,2,False
142,364800521,"[4751, 364800521, 306.0, 2017-05-26 17:02:29, ...",1,4751,2017-05-26 17:02:29,2,False
143,364800519,"[4775, 364800519, 306.0, 2017-05-26 17:02:27, ...",1,4775,2017-05-26 17:02:27,2,False
144,364800514,"[4799, 364800514, 308.0, 2017-05-26 17:02:25, ...",1,4799,2017-05-26 17:02:25,2,False
145,364800511,"[4823, 364800511, 321.0, 2017-05-26 17:02:23, ...",1,4823,2017-05-26 17:02:23,2,False
146,364800512,"[4849, 364800512, 340.0, 2017-05-26 17:02:21, ...",1,4849,2017-05-26 17:02:21,2,False
147,364800510,"[4875, 364800510, 356.0, 2017-05-26 17:02:19, ...",1,4875,2017-05-26 17:02:19,2,False
148,364800508,"[4901, 364800508, 2.0, 2017-05-26 17:02:17, 2,...",1,4901,2017-05-26 17:02:17,2,False
149,364800509,"[4925, 364800509, 2.0, 2017-05-26 17:02:15, 2,...",1,4925,2017-05-26 17:02:15,2,False
150,364800506,"[4949, 364800506, 5.0, 2017-05-26 17:02:13, 2,...",1,4949,2017-05-26 17:02:13,2,False
151,364800507,"[4974, 364800507, 10.0, 2017-05-26 17:02:10, 2...",1,4974,2017-05-26 17:02:10,2,False
152,364793110,"[4048, 364793110, 3.0, 2017-05-26 14:43:47, 1,...",7,4048,2017-05-26 14:43:47,1,False
153,364793109,"[4074, 364793109, 6.0, 2017-05-26 14:43:49, 1,...",7,4074,2017-05-26 14:43:49,1,False
154,364793113,"[4098, 364793113, 7.0, 2017-05-26 14:43:51, 1,...",7,4098,2017-05-26 14:43:51,1,False
155,364793115,"[4123, 364793115, 5.0, 2017-05-26 14:43:53, 1,...",7,4123,2017-05-26 14:43:53,1,False
156,364793118,"[4147, 364793118, 356.0, 2017-05-26 14:43:55, ...",7,4147,2017-05-26 14:43:55,1,False
157,364793123,"[4173, 364793123, 343.0, 2017-05-26 14:43:57, ...",7,4173,2017-05-26 14:43:57,1,False
158,364793122,"[4198, 364793122, 336.0, 2017-05-26 14:43:59, ...",7,4198,2017-05-26 14:43:59,1,False
159,364793127,"[4223, 364793127, 328.0, 2017-05-26 14:44:01, ...",7,4223,2017-05-26 14:44:01,1,False
160,364793130,"[4249, 364793130, 314.0, 2017-05-26 14:44:03, ...",7,4249,2017-05-26 14:44:03,1,False
161,364793133,"[4273, 364793133, 313.0, 2017-05-26 14:44:05, ...",7,4273,2017-05-26 14:44:05,1,False
162,364793138,"[4299, 364793138, 316.0, 2017-05-26 14:44:07, ...",7,4299,2017-05-26 14:44:07,1,False
163,364793139,"[4324, 364793139, 328.0, 2017-05-26 14:44:09, ...",7,4324,2017-05-26 14:44:09,1,False
164,364793143,"[4349, 364793143, 338.0, 2017-05-26 14:44:11, ...",7,4349,2017-05-26 14:44:11,1,False
165,364793145,"[4374, 364793145, 338.0, 2017-05-26 14:44:13, ...",7,4374,2017-05-26 14:44:13,1,False
166,364793148,"[4398, 364793148, 340.0, 2017-05-26 14:44:14, ...",7,4398,2017-05-26 14:44:14,1,False
167,364793151,"[4423, 364793151, 348.0, 2017-05-26 14:44:16, ...",7,4423,2017-05-26 14:44:16,1,False
168,364793153,"[4448, 364793153, 356.0, 2017-05-26 14:44:18, ...",7,4448,2017-05-26 14:44:18,1,False
169,364793157,"[4473, 364793157, 358.0, 2017-05-26 14:44:20, ...",7,4473,2017-05-26 14:44:20,1,False
170,364793159,"[4498, 364793159, 356.0, 2017-05-26 14:44:22, ...",7,4498,2017-05-26 14:44:22,1,False
171,364793161,"[4524, 364793161, 355.0, 2017-05-26 14:44:24, ...",7,4524,2017-05-26 14:44:24,1,False
172,364793164,"[4548, 364793164, 359.0, 2017-05-26 14:44:26, ...",7,4548,2017-05-26 14:44:26,1,False
173,364793166,"[4573, 364793166, 16.0, 2017-05-26 14:44:28, 1...",7,4573,2017-05-26 14:44:28,1,False
174,364793171,"[4598, 364793171, 33.0, 2017-05-26 14:44:30, 1...",7,4598,2017-05-26 14:44:30,1,False
175,364793170,"[4622, 364793170, 43.0, 2017-05-26 14:44:32, 1...",7,4622,2017-05-26 14:44:32,1,False
176,364793176,"[4647, 364793176, 50.0, 2017-05-26 14:44:34, 1...",7,4647,2017-05-26 14:44:34,1,False
177,364793177,"[4673, 364793177, 59.0, 2017-05-26 14:44:36, 1...",7,4673,2017-05-26 14:44:36,1,False
178,364793179,"[4698, 364793179, 68.0, 2017-05-26 14:44:38, 1...",7,4698,2017-05-26 14:44:38,1,False
179,364793183,"[4723, 364793183, 71.0, 2017-05-26 14:44:40, 1...",7,4723,2017-05-26 14:44:40,1,False
180,364793185,"[4748, 364793185, 68.0, 2017-05-26 14:44:42, 1...",7,4748,2017-05-26 14:44:42,1,False
181,364793191,"[4773, 364793191, 65.0, 2017-05-26 14:44:44, 1...",7,4773,2017-05-26 14:44:44,1,False
182,364793188,"[4799, 364793188, 66.0, 2017-05-26 14:44:46, 1...",7,4799,2017-05-26 14:44:46,1,False
183,364793195,"[4822, 364793195, 66.0, 2017-05-26 14:44:48, 1...",7,4822,2017-05-26 14:44:48,1,False
184,364793197,"[4847, 364793197, 62.0, 2017-05-26 14:44:50, 1...",7,4847,2017-05-26 14:44:50,1,False
185,364793199,"[4873, 364793199, 46.0, 2017-05-26 14:44:52, 1...",7,4873,2017-05-26 14:44:52,1,False
186,364793204,"[4898, 364793204, 32.0, 2017-05-26 14:44:55, 1...",7,4898,2017-05-26 14:44:55,1,False
187,364793203,"[4922, 364793203, 29.0, 2017-05-26 14:44:57, 1...",7,4922,2017-05-26 14:44:57,1,False
188,364793215,"[4948, 364793215, 28.0, 2017-05-26 14:44:59, 1...",7,4948,2017-05-26 14:44:59,1,False
189,364793213,"[4972, 364793213, 28.0, 2017-05-26 14:45:02, 1...",7,4972,2017-05-26 14:45:02,1,False
190,364793216,"[4998, 364793216, 28.0, 2017-05-26 14:45:04, 1...",7,4998,2017-05-26 14:45:04,1,False
191,364793224,"[5022, 364793224, 27.0, 2017-05-26 14:45:07, 1...",7,5022,2017-05-26 14:45:07,1,False
192,364793225,"[5046, 364793225, 27.0, 2017-05-26 14:45:09, 1...",7,5046,2017-05-26 14:45:09,1,False
193,364793223,"[5072, 364793223, 29.0, 2017-05-26 14:45:12, 1...",7,5072,2017-05-26 14:45:12,1,False
194,364793222,"[5096, 364793222, 27.0, 2017-05-26 14:45:15, 1...",7,5096,2017-05-26 14:45:15,1,False
195,364793237,"[5122, 364793237, 27.0, 2017-05-26 14:45:17, 1...",7,5122,2017-05-26 14:45:17,1,False
196,364793236,"[5148, 364793236, 28.0, 2017-05-26 14:45:20, 1...",7,5148,2017-05-26 14:45:20,1,False
197,364793239,"[5173, 364793239, 28.0, 2017-05-26 14:45:22, 1...",7,5173,2017-05-26 14:45:22,1,False

In [22]:
def changed_stats(df: pd.DataFrame):
    """
    Calculates brief statistics based on a dataframe 
    with the changes made with the define_direction function. 

    Parameters: 
        df -- dataframe made with the dict_to_df function 

    Returns:
        None (print)
    """
    rows = len(df)
    unchanged = df['suunta_tieosoite'].value_counts().get(-999, 0)
    ones = df['suunta_tieosoite'].value_counts().get(1, 0)
    twos = df['suunta_tieosoite'].value_counts().get(2, 0)
    
    header1 = "Updated:"
    subheader1 = "   Ones (rising)" 
    subheader2 = "   Twos (falling)"
    header2 = "Unchanged:" 
    header3 = "TOTAL:"

    print(f"\nCompleted changes:\n")
    print(f"{header1:<25}|{(rows-unchanged):>10}")
    print(f"{subheader1:<25}|{ones:>10}")
    print(f"{subheader2:<25}|{twos:>10}")
    print(f"{header2:<25}|{unchanged:>10}")
    print(f"{header3:<25}|{rows:>10}\n")
    print(f"Of the inputted images, {((rows-unchanged)/rows):.1%} of them were updated.\n")

In [20]:
def write_fixed_csv(filepath: str, destination_path: str, df: pd.DataFrame):
    """
    Writes a dataframe into a csv-file to the user's desired destination.
    The new csv-file is named after the originally inputted file.

    Parameters:
        filepath -- the path of the original csv-file 
        destination_path -- the path of the folder where the new file will be saved 
        df -- dataframe to be written into a new csv-file  

    Returns:
        None, the function prints a confirmation message when the file has been successfully saved. 
    """
    filepath_parts = filepath.split('\\')
    filename_updated = f'{filepath_parts[-1][:-4]}_UPDATED.csv'
    filename_nodirection = f'{filepath_parts[-1][:-4]}_NODIRECTION.csv'
    updated_destination = destination_path + filename_updated 
    nodir_destination = destination_path + filename_nodirection 

    df.loc[df['nodirection'] == False].to_csv(updated_destination, index = False)
    df.loc[df['nodirection'] == True].to_csv(nodir_destination, index = False)

    confirmation = f"********* The updated csv-file was successfully saved: {updated_destination}. *********"

    changed_stats(df)
    
    print(f"{len(confirmation)*"*"}\n\n{confirmation}\n\n{len(confirmation)*"*"}")

In [23]:
# demo
destination = r"irrotukset\\paivitetyt\\"

write_fixed_csv(fp1, destination, fixed_df1)

Completed changes:

Updated:                 |       578
   Ones (rising)         |       280
   Twos (falling)        |       298
Unchanged:               |         2
TOTAL:                   |       580

Of the inputted images, 99.7% of them were updated.

**********************************************************************************************************************

********* The updated csv-file was successfully saved: irrotukset\\paivitetyt\\testiaineisto2-1_UPDATED.csv. *********

**********************************************************************************************************************

In [67]:
# demo
fixed_dict2 = define_direction(build_dict(reorder_df(extract_data(fp2))))
fixed_df2 = dict_to_df(fixed_dict2)

write_fixed_csv(fp2, destination, fixed_df2)

C:\Users\L895458\AppData\Local\Temp\ipykernel_22776\1120468116.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['kuvausaika'] = pd.to_datetime(df2['kuvausaika'])
C:\Users\L895458\AppData\Local\Temp\ipykernel_22776\1120468116.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['suunta_tieosoite'] = -999

Tehdyt muutokset:

Päivitetyt:              |      6895
   Ykköset               |      3339
   Kakkoset              |      3556
Päivittämättömät:        |     14297
Yhteensä:                |     21192

Päivitettiin 32.5% syötetyistä kohteista.

*******************************************************************************************************************************

********* Korjattu csv-tiedosto tallennettiin onnistuneesti paikkaan: irrotukset\\paivitetyt\\heidi_test_UPDATED.csv. *********

*******************************************************************************************************************************

In [ ]:
# demo
nice_print(fixed_dict2)